<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocket.todolist.dao.TaskMapper">

<!--    <insert id="insertTask" parameterType="task">-->
<!--        insert into todolist.task-->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            title, expect_time, user_id, state-->
<!--            <if test="content != null">-->
<!--                content-->
<!--            </if>-->
<!--            <if test="tag != null">-->
<!--                tag-->
<!--            </if>-->
<!--        </trim>-->
<!--        <trim prefix="values(" suffix=")" suffixOverrides=",">-->
<!--            #{title}, #{expectTime}, #{userId}, #{state}-->
<!--            <if test="content != null">-->
<!--                #{content}-->
<!--            </if>-->
<!--            <if test="tag != null">-->
<!--                #{tag}-->
<!--            </if>-->
<!--        </trim>-->
<!--    </insert>-->
    <insert id="insertTask" parameterType="task">
        insert into todolist.task (`userId`, `title`, `startTime`, `endTime`, `color`, `category`,
                    `content`, `state`, `repeat`, `remindMethod`, `remindTime`, `address`)
        values (#{userId}, #{title}, #{startTime}, #{endTime}, #{color}, #{category},
                    #{content}, #{state}, #{repeat}, #{remindMethod}, #{remindTime}, #{address})
    </insert>

    <select id="selectTasksByUser" parameterType="user" resultType="task">
        select * from todolist.task where userId = #{id}
    </select>

    <select id="getTasks" parameterType="task" resultType="task">
        select * from todolist.task
        where userId = #{userId} and endTime &lt;= #{endTime} and startTime &gt;= #{startTime}
            and `category` = #{category} and `state` = #{state}
    </select>

    <delete id="deleteTaskById">
        delete from todolist.task where id = #{id}
    </delete>

    <update id="updateTask" parameterType="task">
        update todolist.task set `title` = #{title}, `startTime` = #{startTime}, `endTime` = #{endTime},
            `color` = #{color}, `category` = #{category}, `content` = #{content}, `state` = #{state}, `repeat` = #{repeat},
            `remindMethod` = #{remindMethod}, `remindTime` = #{remindTime}, `address` = #{address}
        where `id` = #{id}
    </update>

<!--    <update id="updateTask" parameterType="task">-->
<!--        update todolist.task-->
<!--        <set>-->
<!--            <if test="title != null">-->
<!--                title = #{title},-->
<!--            </if>-->
<!--            <if test="startTime != null">-->
<!--                startTime = #{startTime},-->
<!--            </if>-->
<!--            <if test="endTime != null">-->
<!--                endTime = #{endTime},-->
<!--            </if>-->
<!--            <if test="color != null">-->
<!--                color = #{color},-->
<!--            </if>-->
<!--            <if test="category != null">-->
<!--                category = #{category},-->
<!--            </if>-->
<!--            <if test="content != null">-->
<!--                content = #{content},-->
<!--            </if>-->
<!--            <if test="state != null">-->
<!--                state = #{state},-->
<!--            </if>-->
<!--            <if test="repeat != null">-->
<!--                repeat = #{repeat},-->
<!--            </if>-->
<!--            <if test="remindMethod != null">-->
<!--                remindMethod = #{remindMethod},-->
<!--            </if>-->
<!--            <if test="remindTime != null">-->
<!--                remindTime = #{remindTime},-->
<!--            </if>-->
<!--            <if test="address != null">-->
<!--                address = #{address}-->
<!--            </if>-->
<!--        </set>-->
<!--        where id = #{id}-->
<!--    </update>-->
</mapper>