<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocket.todolist.dao.UserMapper">

    <insert id="insertUser" parameterType="user">
        insert into todolist.user(name, pwd, email) values(#{name}, #{pwd}, #{email})
    </insert>

    <delete id="deleteUserById">
        delete from todolist.user where id = #{id}
    </delete>

    <update id="updateUser" parameterType="user">
        update todolist.user set name=#{name}, email=#{email} where id=#{id}
    </update>

    <select id="userLoginByEmail" resultType="user" parameterType="user">
        select * from todolist.user where email = #{email} and pwd = #{pwd}
    </select>
</mapper>